.site-header {
  padding: 2rem 0 1.6rem 0;
}
.site-header .site-main-wrapper {
  position: relative;
  display: none;
  padding: 1.6rem 0 1.6rem 0;
}

.site-header .siteTop-Mobile-wrapper {
  display: block;
}

.site-header .siteTop-Mobile-wrapper .siteTop-mobile-header {
  width: 100%;
}
.site-header .hdr-logo a {
  display: block;
}
.site-header .hdr-logo a img {
  -o-object-fit: contain;
     object-fit: contain;
}
.site-header .hdr-nav {
  display: none;
}
@media screen and (min-width: 1100px) {
  .site-header {
    padding: 0;
  }
  .site-header .siteTop-Mobile-wrapper {
    display: none;
  }
  .site-header .site-main-wrapper {
    min-height: 8.7rem;
    max-height: 8.7rem;
    display: flex;
  }
  .site-header .hdr-nav {
    display: block;
  }
  .site-header .hdr-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2.7rem;
  }
  .site-header .hdr-nav ul li {
    position: relative;
    line-height: 1.5;
    display: block;
  }
  .site-header .hdr-nav ul li a {
    line-height: 160%;
    font-weight: 500;
    padding: 1rem 2.4rem;
    display: block;
    -webkit-transition: 0.7s ease all;
    transition: 0.7s ease all;
    text-decoration: none;
  }
  .site-header .hdr-nav ul li a:hover, .site-header .hdr-nav ul li a.active, .site-header .hdr-nav ul li a:active {
    -webkit-transition: 0.7s ease all;
    transition: 0.7s ease all;
  }
  .site-header .hdr-nav ul li.menu-item-has-children {
    position: relative;
  }
  .site-header .hdr-nav ul li.menu-item-has-children > a {
    position: relative;
    padding-right: 1.7rem;
    display: inline-block;
  }
  .site-header .hdr-nav ul li.menu-item-has-children > a::after {
    position: absolute;
    content: "";
    background: url("../images/arrow-down.svg") no-repeat center;
    background-size: 1.1rem;
    width: 1.1rem;
    height: 1.1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .site-header .hdr-nav ul li.menu-item-has-children:hover ul.sub-menu, .site-header .hdr-nav ul li.menu-item-has-children:active ul.sub-menu, .site-header .hdr-nav ul li.menu-item-has-children.active ul.sub-menu {
    display: block;
  }
  .site-header .hdr-nav ul li.menu-item-has-children .sub-menu {
    display: none;
    position: relative;
    top: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    list-style: none;
    z-index: 3;
    margin: 0;
  }
}
@media screen and (min-width: 1100px) and (min-width: 1100px) {
  .site-header .hdr-nav ul li.menu-item-has-children .sub-menu {
    padding: 1rem;
    position: absolute;
    top: calc(100% - 0.6rem);
    min-width: 24.5rem;
    border-radius: 0 0 2rem 2rem;
    left: 0%;
  }
}
@media screen and (min-width: 1100px) {
  .site-header .hdr-nav ul li.menu-item-has-children .sub-menu li {
    margin: 0px;
    font-size: 1.4rem;
    line-height: 1.5;
    display: block;
  }
  .site-header .hdr-nav ul li.menu-item-has-children .sub-menu li:last-child {
    border-bottom: none;
  }
}
@media screen and (min-width: 1100px) and (min-width: 1100px) {
  .site-header .hdr-nav ul li.menu-item-has-children .sub-menu li {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1100px) {
  .site-header .hdr-nav ul li.menu-item-has-children .sub-menu li a {
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 160%;
    border-radius: 0.6rem;
    -webkit-transition: 0.7s ease all;
    transition: 0.7s ease all;
  }
}
@media screen and (min-width: 1100px) and (min-width: 1100px) {
  .site-header .hdr-nav ul li.menu-item-has-children .sub-menu li a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1100px) {
  .site-header .hdr-nav ul li.menu-item-has-children .sub-menu li a:hover, .site-header .hdr-nav ul li.menu-item-has-children .sub-menu li a:active, .site-header .hdr-nav ul li.menu-item-has-children .sub-menu li a.active {
    -webkit-transition: 0.7s ease all;
    transition: 0.7s ease all;
    -webkit-transform: none !important;
            transform: none !important;
  }
}
.site-header .hamburger-menu .open-menu {
  display: block;
}
@media screen and (min-width: 1100px) {
  .site-header .hamburger-menu .open-menu {
    display: none;
  }
}
.site-header .hamburger-menu .close-menu {
  display: none;
}
@media screen and (min-width: 1100px) {
  .site-header .hamburger-menu .close-menu {
    display: block;
  }
}
.site-header .Mobile-navbar {
  display: none;
}
.site-header .Mobile-navbar {
  display: none;
  width: 100%;
  padding-top: 3.6rem;
}
.site-header .Mobile-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: auto;
}
.site-header .Mobile-navbar ul li {
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.site-header .Mobile-navbar ul li:last-child {
  margin-bottom: 1rem;
}
.site-header .Mobile-navbar ul li a {
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
  font-size: 1.5rem;
}
.site-header .Mobile-navbar ul li:hover a {
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}
.site-header .Mobile-navbar ul li.menu-item-has-children {
  position: relative;
}
.site-header .Mobile-navbar ul li.menu-item-has-children > a {
  position: relative;
  margin-right: 2rem;
  display: inline-block;
}
.site-header .Mobile-navbar ul li.menu-item-has-children > a::before {
  position: absolute;
  content: "";
  background: url("../images/arrow-down.svg") no-repeat center;
  background-size: 1.1rem;
  width: 1.1rem;
  height: 1.1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -3rem;
  font-size: 0;
}
.site-header .Mobile-navbar ul li.menu-item-has-children .sub-menu {
  display: none;
  padding-top: 2rem;
  padding-left: 1.6rem;
}
.site-header .Mobile-navbar ul li.menu-item-has-children .sub-menu li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.site-header .Mobile-navbar ul li.menu-item-has-children .sub-menu li a {
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  display: inline-block;
  border-radius: 0.6rem;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}
.site-header .Mobile-navbar ul li.menu-item-has-children .sub-menu li a:hover, .site-header .Mobile-navbar ul li.menu-item-has-children .sub-menu li a:active, .site-header .Mobile-navbar ul li.menu-item-has-children .sub-menu li a.active {
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
  -webkit-transform: none !important;
          transform: none !important;
}
.site-header .Mobile-navbar ul li.mobile-hdr-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-header .Mobile-navbar ul li.mobile-hdr-btn a {
  width: 100%;
}
.site-header .siteTop-Mobile-wrapper .hdr-logo a img {
  max-width: 9.4rem;
  max-height: 3.2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.site-header.mobileactive .siteTop-mobile-header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.site-header.mobileactive .Mobile-navbar {
  display: block;
}
.site-header.mobileactive .hdr-logo .white-logo {
  display: none;
}
.site-header.mobileactive .hdr-logo .dark-logo {
  display: block;
}
.site-header.mobileactive .hamburger-menu .open-menu {
  display: none;
}
.site-header.mobileactive .hamburger-menu .close-menu {
  display: block;
}