---
import '../styles/dflex.css';
import Button from "../components/Button.astro";
import FlexibleHeading from '../components/Flexibleheading.astro';


---

<section class="dflex-sec ">
  <div class="flex-1">
        <FlexibleHeading
          title="Reduce Environmental Impact through Smarter Water Reuse and Recycling"
          topText="Who We Are"
          topIcon="/home/logo-head.svg"
          align="left"
          maxWidthClass="max-w-[50rem]" 
        />
    </div>
    <div class="particles-wrap">
        <div class="particles desktop-particles">
            <img src="/home/particles.png" alt="particles" title="particles" width="128" height="459" />
        </div>
        <div class="particles mobile-particles">
            <img src="/home/particles1.png" alt="particles1" title="particles1" width="170" height="64" />
        </div>
    </div>
    <div class="dflex-area" >
        <div class="container">
            <div class="dflex-wrapper">
                <div class="left-image-blk" >
                    <img src="/home/flex1.png" alt="Who We Are" title="Who We Are" width="695" height="524" />
                </div>
                <div class="right-content-blk" >
                    <div class="txtwrapper">
                        <p>At Alba Water, we are dedicated to delivering intelligent, reliable, and sustainable water solutions that empower industries and protect the environment. Our expertise spans across various sectors, including mining, oil & gas, hydrocarbon processing, and environmental management. By integrating advanced technologies and innovative practices, we address complex water challenges, ensuring operational efficiency and ecological responsibility.</p>
                        <p>ALBA Water & Process Solutions ( AWPS) , being an owner and operator of various
                        water & Wastewater Treatment & Ancillaries plants globally as well as in Australia, we
                        strongly believe that best outcomes are achieved when the end-user and technology
                        contractor have the opportunity to collaborate and openly communicate in the
                        development of a solution, in order to effectively balance risks, costs and the
                        performance of the processes.</p>
                    </div>
                    <!-- <div class="link-wrap">
                        <a href="#" class="readmoreLnk" target="_blank">know more</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>